<div class="containerSignup">
  <div class="form">
    <h2 class="main-text">Sign up <i class="fa fa-user" aria-hidden="true"></i></h2>
    <!-- Start of form -->
    <form class="register-form">
      <input type="text" placeholder="User Name">
      <input type="password" placeholder="Password">
      <input type="password" placeholder="Confirm Password">
      <input type="text" placeholder="Email Address">
      <input type="text" placeholder="Address">
      
      <button class="btn">Sign me up!</button>
      
      <p class="message">Already registered? <a href="#" data-toggle="modal" data-target="#login-modal">Sign In</a></p>
    </form>
    <!-- End of form -->
  </div>
</div>